@unocss all;

:root {
  --background: #fff;
  --foreground: #000;
  --font-sans: 'Pretendard', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  font-family: Pretendard, Gmarket, sans-serif;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  text-decoration: none;
}

/* 버튼 & SVG 아이콘의 기본 스타일 제거 */
button {
  background: transparent;
  border: none;
  padding: 0;
}
/* app/globals.css 또는 styles/globals.css */
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

/* 또는 직접 선언 */
@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2')
    format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 700;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2')
    format('woff2');
  font-display: swap;
}
