@unocss all;

:root {
  --background: #fff;
  --foreground: #000;
  --font-sans: 'Pretendard', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  font-family: Pretendard, Gmarket, sans-serif;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  text-decoration: none;
}

/* 버튼 & SVG 아이콘의 기본 스타일 제거 */
button {
  background: transparent;
  border: none;
  padding: 0;
}
